{% extends "base_page.html" %}

{% block page-title %}
Network Anki
{% endblock page-title %}

{% block page-lead %}
Система для изучения сетевых терминов
{% endblock page-lead %}

{% block content %}
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Термины</span>
                <p>Просмотрите список всех сетевых терминов и их определений.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'terms-list' %}" class="btn">Перейти к терминам</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Добавить термин</span>
                <p>Добавьте новый термин в базу данных.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'add-term' %}" class="btn">Добавить</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Квиз</span>
                <p>Проверьте свои знания в интерактивном квизе. Вам будет предложено угадать определение термина из нескольких вариантов ответа.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'quiz' %}" class="btn">Начать квиз</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Статистика</span>
                <p>Посмотрите статистику по терминам в базе данных.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'stats' %}" class="btn">Показать статистику</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
