{% extends "base_page.html" %}

{% block page-title %}
{% if success %} Термин добавлен
{% else %} Ошибка добавления
{% endif %}
{% endblock page-title %}

{% block page-lead %}{% endblock page-lead %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-content">
            <h5 class="card-title">Результат запроса</h5>
            <p class="card-text">
                Уважаемый пользователь <span class="italic">{{ user }}</span>,<br />
                Ваш запрос завершился
                <span class="bold">{% if success %}успешно{% else %}ошибкой{% endif %}</span>.
            </p>

            <h5 class="card-title">Комментарий</h5>
            <p class="card-text">{{ comment }}</p>

            <h5 class="card-title">Что можно сделать?</h5>
            <ul class="card-text">
                <li>заполнить <a href="{% url 'add-term' %}">форму</a> ещё раз,</li>
                <li>вернуться на <a href="{% url 'index' %}">главную</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
