{% extends "base_page.html" %}

{% block page-title %}
Список терминов
{% endblock page-title %}

{% block page-lead %}
Здесь вы можете посмотреть все термины, которые есть в базе данных.
{% endblock page-lead %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-content">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Термин</th>
                        <th>Определение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cnt, term, definition in terms %}
                    <tr>
                        <td>{{ cnt }}</td>
                        <td>{{ term }}</td>
                        <td>{{ definition }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
